*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style: none;
}

img{
    max-width: 100%;
}

/* ---------- HEADER-----------*/ 

header {
    display: flex;   /*-----FLEX----*/
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1rem;
    padding: 1rem;
}
header ul li{
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
    header{
        display: grid; /* -------GRID ------*/
        grid-template-columns: 1fr 1fr;
    }
    header h1{
        justify-self: start;
    }
    header nav{
        grid-column: 1/3;
    }
    header ul{
        display: flex;  /*------ FLEX------- */
        justify-content: center;
        gap: 1rem;
    }
    header form{
        display: inline-block;
        justify-self: end;
    }
}
@media only screen and (min-width: 1200px){
header{
    display: flex; /*------ FLEX------- */
    flex-direction: row;
    justify-content: space-between;
}
}

/* --------.--- MAIN----------*/
.inicio-pagina{
    background-image: url(https://c.wallhere.com/photos/5d/59/Vladstudio-125139.jpg!d);
   
}
/* h2{
    padding: 2rem;
    color: aliceblue;
} */

.galeria-index{
    padding: 0;
    
}
.titulo-galeria{
    text-align: center;
    margin-bottom: 1rem;
    padding: 2rem;
    color: aliceblue;
    text-shadow: black;
    border: black 10px;
}
.contenedor-galeria img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    padding: 0.25rem;
}

.contenedor-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px){
    .contenedor-galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,minmax(300px,25vh));
        gap: 1rem;
    }
    .img-destacada{
        grid-column: span 2;
        grid-row: span 2;
    }
}
@media only screen and (min-width: 1200px){
    .contenedor-galeria{
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2,minmax(280px,25vh));
    }
    .img-destacada{
        grid-column: span 1;
    }
}

/* ------- contacto html -------*/
.contacto-inicio{
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    padding: 1rem;
    background-image: url(https://us.123rf.com/450wm/foxindustry/foxindustry1502/foxindustry150200003/36172400-fondo-azul-resumen-ola-suave-luz-del-cielo-en-colores-pastel-del-vector.jpg?ver=6);
    width: 100%;
    height: 100%;
}
.contacto-logo{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contacto-logo img{
    display: flex;
    align-self: center;
    width: 50%;
    height: 50%;
}
#contacto-titulo{
    font-family: "Kode Mono", monospace;
    font-size: 100%;
    padding: 1rem;
}
.parrafos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    
}

/*-------- footer------ */

footer{
    background-color: black;
    color: whitesmoke;
    font-size: 100%;
    height: 50px;
    text-align: center;
    align-self: center;
}