.main-index {
    background: linear-gradient(to bottom, $color-primary, rgb(20, 20, 20));
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .inicio-index {

        .titulo-index {
            text-align: center;
            margin-bottom: 1rem;
            padding: 1rem;
            margin: 1rem;
            color: $color-titulos;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: $color-secundary;
            font-size: 35px;

            &:hover {
                background-color: $color-titulos;
                color: $color-primary;
            }
        }

        .caja-index {
            height: 400px;
            background: linear-gradient(to bottom, $color-titulos, rgb(198, 139, 1));
            padding: 0.5rem;
            border-radius: 28px;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: $color-titulos;
                font-weight: 700;
                font-size: 23px;
            }

            h2 {
                font-size: 100%;
                text-align: center;
                font-weight: 700;
                font-style: italic;
            }

            h3 {
                font-size: 100%;
                text-align: Right;
                font-weight: 700;
                font-style: italic;
            }

            h4 {
                font-size: 100%;
                font-weight: 700;
                font-style: italic;
            }

            div {
                display: flex;
                gap: 2rem;
                padding: 1rem;

                .boton-contacto {
                    background: radial-gradient(rgb(7, 7, 44), rgb(1, 4, 12));
                    display: flex;
                    flex-direction: row;
                    padding: 0.8rem 1rem;
                    height: 270px;
                    width: 150px;
                    text-align: center;
                    align-items: center;
                    border-radius: 28px;
                    border: 2px solid black;

                    a {
                        color: $color-titulos;
                    }

                    &:hover {
                        transform: scale(1.08);
                        background: radial-gradient(rgb(67, 155, 255), rgb(6, 44, 184));

                        a {
                            color: yellow;
                            font-size: 25px;
                        }
                    }


                }

                .boton-info {
                    background: radial-gradient(rgb(103, 22, 22), rgb(25, 5, 5));
                    width: 150px;
                    color: $color-titulos;
                    padding: 0.8rem 1rem;
                    display: flex;
                    flex-direction: row;
                    height: 270px;
                    text-align: center;
                    align-items: center;
                    border-radius: 28px;
                    border: 2px solid black;

                    &:hover {
                        transform: scale(1.08);
                        background: radial-gradient(rgb(253, 124, 124), #ff2727);

                        a {
                            color: yellow;
                            font-size: 25px;
                        }
                    }

                }
            }
        }
    }

    .info-index {
        h2 {
            color: $color-titulos;
            text-align: center;
            padding: 1rem;
            font-size: 28px;
        }

        .p-index {
            display: flex;
            background-color: $color-secundary;
            border: 1px solid rgba(255, 178, 24, 0.863);
            text-align: justify;

            p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 100%;
                text-align: right;
                color: $color-parrafos;
            }
            &:hover {
                background-color: $color-parrafos;
                color: $color-primary;
                border: 3px solid black;

                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 100%;
                    text-align: justify;
                    color: black;
                }
            }
        }


    }

    .galeria-index {
        padding: 0;

        .contenedor-galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            img {
                width: 90%;
                height: 90%;
                object-fit: cover;
                padding: 0.25rem;
                border-radius: 9%;
                transition-duration: 1s;
                transition-delay: 0.1s;

                &:hover {
                    scale: 112%;
                    box-shadow: 20px 20px 3px;
                }
            }
        }
    }
}





@media only screen and (min-width: 458px) {
    .main-index {
        .inicio-index {
            .caja-index {
                display: none;
            }
        }

        .galeria-index {
            .contenedor-galeria {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, minmax(300px, 25vh));
                gap: 1rem;
                align-items: center;
                justify-items: center;

                .img-destacada {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .main-index {
        .inicio-index {
            .caja-index {
                display: none;
            }
        }

        .info-index {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            h2 {
                text-align: center;
                margin-left: 150px;
            }

            .p-index {
                p {
                    margin-right: 50px;
                }
            }

        }

        .galeria-index {
            .contenedor-galeria {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, minmax(300px, 25vh));
                gap: 1rem;
                align-items: center;
                justify-items: center;

                .img-destacada {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
    }
}