.inicio-pagina {
    background: linear-gradient(to bottom, $color-primary, rgb(20, 20, 20));
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.inicio-texto {
    display: flex;
    height: 100%;
    background-color: $color-secundary;
}


.galeria-index {
    padding: 0;

}

.titulo-galeria {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $color-secundary;
    font-size: 35px;

    &:hover {
        background-color: $color-titulos;
        color: $color-primary;
    }
}

.parrafos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    color: $color-parrafos;
    border: black;

    &:hover {
        background-color: $color-parrafos;
        color: $color-primary;
    }

}

.contenedor-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        padding: 0.25rem;
        border-radius: 9%;
        transition-duration: 1s;
        transition-delay: 0.1s;

        &:hover {
            scale: 112%;
            box-shadow: 20px 20px 3px;
        }
    }

}

@media only screen and (min-width: 768px) {
    .contenedor-galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(300px, 25vh));
        gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    .img-destacada {
        grid-column: span 2;
        grid-row: span 2;

    }
}

@media only screen and (min-width: 1200px) {
    .contenedor-galeria {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, minmax(280px, 25vh));
    }

    .img-destacada {
        grid-column: span 1;
    }

}