.info-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(to bottom, $color-primary, rgb(20, 20, 20));
    width: 100%;
    height: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.info-h2 {
    color: $color-titulos;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: $color-secundary;

    &:hover{
        background-color: $color-titulos;
        color: $color-primary;
    }
}

.info-h1 {
    font-family: "Kode Mono", monospace;
    color: $color-titulos;
    padding: 1rem;
    background-color: $color-secundary;

    &:hover{
        background-color: $color-titulos;
        color: $color-primary;
    }
}

.info-lista ul li {
    color: $color-parrafos;
    list-style: circle;
    gap: 1rem;
    background-color: $color-secundary;
}